html {
    color: rgb(83, 83, 83);
    font-family: 'Titillium Web',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url("/static/img/hexabump.png");
    background-repeat: repeat;
}
#container {
}
.item {
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 24%;
    min-height: 50px;
    word-wrap: break-word;
    text-align: justify;
    background-color: rgb(25,25,25);
    padding: 3px;
    margin-bottom: 20px;
    margin-right: 5px;
}
.item_header {
    padding-bottom: 3px;
    border-bottom: 1px solid ;
}
a {
    text-decoration: none;
}
/* #line {
    height: 100%;
    width: 4px;
    border-right: 3px solid #009999;
    float: right;
    position: absolute;
    margin-left: 430px;
} */
.link {
    color: #F8227F;
}
.link:hover {
    color: #FF66FF;
}
.time {
    font-size: 12px;
}
.summary {
    color: rgb(103, 103, 103);
}
/*.right_corner {
    float: right;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 414px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(25, 25, 25);
    vertical-align: top;
}
.left_corner {
    float: left;
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 20px;
    margin-left: -14px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(25, 25, 25);
} */
