html {
    color: rgb(83, 83, 83);
    font-family: 'Titillium Web',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url("/static/img/hexabump.png");
    background-repeat: repeat;
}
#container {
    width: 860px;
    margin: 0 auto;
}
.item {
    width: 408px;
    margin: 20px 10px 10px 10px;
    float: left;
    min-height: 50px;
    word-wrap: break-word;
    text-align: justify;
    background-color: rgb(25,25,25);
}
a {
    text-decoration: none;
}
.link {
    color: #F8227F;
}
.link:hover {
    color: #FF66FF;
}
.person {
    color: #A0FB22;
}
