<!DOCTYPE html>
<html>
    <head>
        <title>{{channel}}</title>
        {% block includes %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        <nav class="nav">
            <div class="wrapper">
                <ul class="left">
                    <li>
                        <a href="{{ url_for('merveilles.root') }}"><img id="qiji" src="{{ url_for('static', filename='img/qiji.png') }}"></img></a>
                    </li>
                    <li><a href="{{ url_for('merveilles.root') }}"><h2 style="display: inline;" >{{channel}}</h2></a></li>
                    <!-- Render time: {{ g.request_time() }} -->
                    <!-- DB Size: {{ size|file_size }} -->
                    <!-- Links Saved:  {{ count }}-->
                </ul>
                <ul class="right">
                    <li>
                        <input id="search_box" type="text" placeholder="search" />
                        <img class="search" title="Search" src="{{ url_for('static', filename='img/search.svg') }}">
                    </li>
                    <li>
                        <a href="{{ url_for('merveilles.stats') }}"><img title="Stats" src="{{ url_for('static', filename='img/graph_icon.svg') }}"></a>
                    </li>
                    <li>
                    {% if not user %}
                        <a href="{{ url_for('merveilles.login') }}"><img title="Log in" src="{{ url_for('static', filename='img/login_icon.svg') }}"></a>
                    {% else %}
                        <a href="{{ url_for('merveilles.starred') }}"><img title="Starred Links" src="{{ url_for('static', filename='img/unstarred.svg') }}"></a>
                        <a href="{{ url_for('merveilles.logout') }}"><img title="Log out" src="{{ url_for('static', filename='img/logout.svg') }}"></a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        <div class="dummy_block"></div>
        {% block content %}
        {% endblock %}
        {% if live_site %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30510579-3', 'merveill.es');
  ga('send', 'pageview');

</script>
        {% endif %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
        <script type="text/javascript">
            search_url = "{{ url_for('merveilles.interrogate', qstring="") }}";
            single_item_url = "{{ url_for('merveilles_api.post_date_single', key=0) }}";
            star_toggle_url = "{{ url_for('merveilles_api.star_toggle', key=0) }}";
            star_img = "{{ url_for('static', filename='img/starred.svg') }}";
            unstar_img = "{{ url_for('static', filename='img/unstarred.svg') }}";
            csrf_token = "{{ session['_csrf_token'] }}";
            $(function() {
            {% block startup %}
            {% endblock %}
            });
        </script>
    </body>
</html>
