<!DOCTYPE html>
<html>
    <head>
        <title>{{channel}}.io</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,700,200" rel="stylesheet" type="text/css">
        {% block includes %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/masonry.min.js') }}"></script>
        {% endblock %}
        <script type="text/javascript">
        {% block startup %}
            $(function() {
                last_height = 0;
                function search() {
                    var term = $("#search_box").val();
                    window.location = "{{ url_for('merveilles.interrogate') }}" + "?q=" + term;
                }
                $("#search_button").click(search);
                $("#search_box").keypress(function(e) {
                    if (e.keyCode == 13) {
                        search();
                    }
                });
                console.log("Running masonry.");
                $("#container").masonry({
                    itemSelector: ".item",
                    isAnimated: true
                });
            });
        {% endblock %}
        </script>
    </head>
    <body>
        <div class="nav">
            <ul class="left">
                <li><span><a href="{{ url_for('merveilles.root') }}">{{channel}}</a></span></li>
                <li><span id="meta_info">DB Size: {{ size|file_size }}, Links Saved:  </span><a class="link" style="font-size: 12px;" href="{{ url_for('merveilles.top') }}">{{ count }}</a></li>
            </ul>
            <ul class="right">
                <li>
                    <a href="{{ url_for('merveilles.top') }}">Top Posters and Visualization</a>
                </li>
                <li>
                    <a href="{{ url_for('merveilles.paradise') }}">Paradise Data</a>
                </li>
                <li>
                    <input id="search_box" type="text" placeholder="search" />
                    <input id="search_button" type="button" value="Go" />
                </li>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
