{% extends "base.html" %}
{% block includes %}{{super()}}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/rng.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hexfaces.js') }}"></script>
{% endblock %}
{% block startup %}{{super()}}
{% endblock %}
{% block content %}
<!-- <div id="last_10_days"></div> -->
<div class="container">
    <div class="col-50">
        {% include "page_junk.html" %}
        {% if items %}
            {% for item in items %}
            <div class="item">
                <div class="item_header">
                    <div class="the_animal {{item.person}}"></div>
                    <a href="{{ url_for('merveilles.intrigue', user=item.person) }}" class="person">{{item.person}}</a>
                </div>
                <span class="link" data-key="{{item.created_at}}" >{{item.title or item.url}}</span>
                <div class="time">
                    <span>Linked on <a href="{{ url_for('merveilles_api.post_date_pretty', key=item.created_at|int) }}">{{item.created_at|unix_to_human}}</a> | </span>
                    <a href="{{ url_for('merveilles.introspect', domain=get_domain(item.url)) }}">Similar Links</a>
                    {% if user %}
                    <span> | <img class="thumb_icon" src="{{ url_for('static', filename="img/unstarred.svg") }}"></img></span>
                    {% endif %}
                    {% if item.is_image %}
                    <span> | <img class="thumb_icon" src="{{ url_for('static', filename="img/thumbnails/thumb_icon.svg") }}"></img></span>
                    {% endif %}
                    {% if item|is_video %}
                    <span> | <img class="thumb_icon" src="{{ url_for('static', filename="img/video_icon.svg") }}"></img></span>
                    {% endif %}
                    {% if item|is_sound %}
                    <span> | <img class="thumb_icon" src="{{ url_for('static', filename="img/sound_icon.svg") }}"></img></span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No items yet. :<</p>
        {% endif %}
        {% include "page_junk.html" %}
    </div>
    <div class="col-50">
        <div id="murder_me">
            <a id="hexa_madness" href="http://hexeosis.tumblr.com/post/68289994887"><img src="{{ url_for('static', filename='img/hex3.gif') }}"></img></a>
        </div>
    </div>
</div>
{% endblock %}
