{% extends "base.html" %}
{% block includes %}{{super()}}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/rng.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hexfaces.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
{% endblock %}
{% block startup %}{{super()}}
{% if stats %}
    $('#last_10_days').highcharts({
        chart: {
            type: 'spline',
            backgroundColor: '#DDD'
        },
        title: {
            text: 'Posts in the last 10 days',
            style: {
                color: '#111'
            }
        },
        plotOptions: {
            spline: {
                pointInterval: 86400000, // one day
                pointStart: {{ start_date }}
            }
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' links';
            }
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            }
        },
        yAxis: {
            min: 0,
        },
        series: {{ stats|tojson|safe }}
    });
{% endif %}
{% endblock %}
{% block content %}
<!-- <div id="last_10_days"></div> -->
<div class="container">
    <div class="col-50">
        {% if items %}
            {% for item in items %}
            <div class="item">
                <div class="item_header">
                    <div class="the_animal {{item.person}}"></div>
                    <a href="{{ url_for('merveilles.intrigue', user=item.person) }}" class="person">{{item.person}}</a>
                </div>
                <a target="_blank" href="{{item.url}}"><span class="link">{{item.title or item.url}}</span></a>
                <!--
                {% if item.thumbnail %}
                    <div class="summary">
                        <a target="_blank" href="{{item.url}}">
                            <img src="{{ url_for('static', filename=item.thumbnail) }}"></img>
                        </a>
                    </div>
                {% elif item.is_image %}
                    <div class="summary">
                        <a target="_blank" href="{{item.url}}">
                            <img src="{{ url_for('static', filename="img/thumbnails/no_thumbnail.jpg") }}"></img>
                        </a>
                    </div>
                {% else %}
                    <div class="summary"><p>{{item.summary}}</p></div>
                {% endif %}
                -->
                <div class="time"><span>Linked on <a href="{{ url_for('merveilles_api.post_date_pretty', key=item.created_at|int) }}">{{item.created_at|unix_to_human}}</a></span> | <a href="{{ url_for('merveilles.introspect', domain=get_domain(item.url)) }}">Similar Links</a></div>
            </div>
            {% endfor %}
        {% else %}
            <p>No items yet. :<</p>
        {% endif %}
        {% include "page_junk.html" %}
    </div>
</div>
{% endblock %}
