{% extends "base.html" %}
{% block includes %}{{super()}}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/rng.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hexfaces.js') }}"></script>
{# <script type="text/javascript" src="{{ url_for('static', filename='js/highcharts.js') }}"></script> #}
{% endblock %}
{% block content %}
<div class="container">
</div>
{% endblock %}
