{% extends "base.html" %}
{% block content %}
<style>

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

</style>
{% endblock %}
{% block includes %} {{ super() }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">
function getColorHex(role_id) {
        var base_num = role_id;
        if (base_num < 4473924) {
            base_num += 333333;
        }
        if (base_num % 3 == 0) {
            base_num += 7000;
        }
        if (base_num % 5 == 0) {
            base_num += 2000;
        }
        var hex_val = base_num.toString(16);
        var new_str = hex_val;
        for (i=0; i < (6 - hex_val.length); i++) {
            new_str = new_str + hex_val[(hex_val.length - 1) - i];
        }
        return "#" + new_str;
    }
</script>
<script type="text/javascript">
$(function() {

var diameter = 960;

var tree = d3.layout.tree()
    .size([960, diameter / 2])
    .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

var diagonal = d3.svg.diagonal.radial()
    .projection(function(d) { return [d.y, d.x / 180 * Math.PI]; });

var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter - 150)
  .append("g")
    .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

d3.json("paradise.json", function(error, root) {
  var nodes = tree.nodes(root),
      links = tree.links(nodes);

  var link = svg.selectAll(".link")
      .data(links)
    .enter().append("path")
      .attr("class", "link")
      .attr("d", diagonal);

  var node = svg.selectAll(".node")
      .data(nodes)
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })

  node.append("circle")
      .attr("r", 4.5);

  node.append("text")
      .attr("dy", ".31em")
      .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
      .attr("transform", function(d) { return d.x < 180 ? "translate(8)" : "rotate(180)translate(-8)"; })
      .text(function(d) { return d.name; });
});

d3.select(self.frameElement).style("height", diameter - 150 + "px");

});
</script>
{% endblock %}
