{% extends "base.html" %}
{% block content %}
<div class="container">
    <form method="POST">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <p>
            <label>Username:</label>
            <input type="text" name="username"/>
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password1"/>
        </p>
        <p>
            <label>Password (again):</label>
            <input type="password" name="password2"/>
        </p>
        <p class="error">{{error}}</p>
        <p>
            <input type="submit" value="Log in"/>
        </p>
    </form>
</div>
{% endblock %}
