<div class="item">
    <div class="item_header">
        <a target="blank_" href="{{ item.url }}">{{item.title or item.url}}</a>
    </div>
{% if item.thumbnail %}
    <div class="summary">
        <a target="_blank" href="{{item.url}}">
            <img src="{{ url_for('static', filename=item.thumbnail) }}"></img>
        </a>
    </div>
{% elif item.is_image %}
    <div class="summary">
        <a target="_blank" href="{{item.url}}">
            <img src="{{ url_for('static', filename="img/thumbnails/no_thumbnail.jpg") }}"></img>
        </a>
    </div>
{% elif item|is_youtube %}
<iframe width="560" height="315" src="//www.youtube.com/embed/{{item|youtube_vid}}" frameborder="0" allowfullscreen></iframe>
{% else %}
    <div class="summary"><p>{{item.summary}}</p></div>
{% endif %}
</div>
<div id="post_comment">
    <textarea placeholder="Comments"></textarea>
</div>
