{% extends "base.html" %}
{% block includes %}{{super()}}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
{% endblock %}
{% block startup %}{{super()}}
{% if stats %}
    $('#last_day').highcharts({
        chart: {
            type: 'spline',
            backgroundColor: '#DDD'
        },
        title: {
            text: false,
            style: {
                color: '#111'
            }
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' links';
            }
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            }
        },
        yAxis: {
            min: 0,
        },
        series: {{ stats|tojson|safe }}
    });
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="item">
        <p class="item_header">Posts in the last day</p>
        <div id="last_day"></div>
    </div>
    <div class="item">
        <p class="item_header">Activity by Hour</p>
        <div id="activity_by_hour"></div>
    </div>
    <div class="item">
        <p class="item_header">Top ten domains</p>
        <ul>
        {% for item in items[0][:10] %}
            <li><a href="{{ url_for('merveilles.introspect') }}?domain={{item[0]}}">{{item[0]}}</a>: {{item[1]}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="item">
        <p class="item_header">Top ten people</p>
        <ul>
        {% for item in items[1][:10] %}
            <li><a href="{{ url_for('merveilles.intrigue') }}?user={{item[0]}}" class="person">{{item[0]}}</a>: {{item[1]}} links</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
