{% extends "base.html" %}
{% block content %}
<div id="container">
    <div class="item">
        <p class="item_header">Top ten domains</p>
        <ul>
        {% for item in items[0][:10] %}
            <li><a href="{{ url_for('merveilles.introspect') }}?domain={{item[0]}}">{{item[0]}}</a>: {{item[1]}}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="item">
        <p class="item_header">Top ten people</p>
        <ul>
        {% for item in items[1][:10] %}
            <li><a href="{{ url_for('merveilles.intrigue') }}?user={{item[0]}}" class="person">{{item[0]}}</a>: {{item[1]}}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
