<!DOCTYPE html>
<html>
    <head>
        <title>Merveilles.io</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/masonry.min.js') }}"></script>
        <script type="text/javascript">
            $(function() {
                last_height = 0;
                $("#container").masonry({
                    itemSelector: ".item"
                });
                $(".item").each(function(iter, val) {
                    var left = $(val).css("left");
                    var height = $(val).css("top");
                    if (left == "0px") {
                        $(val).prepend("<span class='right_corner'></span>");
                    } else {
                        $(val).prepend("<span class='left_corner'></span>");
                    }
                });
            });
        </script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,700,200" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>#merveilles</h1>
        <div id="container">
            {% if items %}
                {% for item in items %}
                <div class="item">
                    <div class="item_header">
                        <span style="color: {{item.person_color}};" class="person">{{item.person}}</span> linked <a href="{{item.url}}"><span class="link">{{item.title}}</span></a>
                    </div>
                    <div class="summary"><p>{{item.summary}}</p></div>
                    <div class="time"><span>Linked on {{item.created_at}}</span></div>
                </div>
                {% endfor %}
            {% else %}
                <p>No items yet. :<</p>
            {% endif %}
        </div>
    </body>
</html>
