.the_animal {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-image: url("../img/animals/32/user_0.png");
}
.the_pig, .Wally {
    background-image: url("../img/animals/32/the_pig_0.png");
}
.the_pussycat, .Orihaus {
    background-image: url("../img/animals/32/the_pussycat_0.png");
}
.the_owl, .aliceffekt {
    background-image: url("../img/animals/32/the_owl_0.png");
}
.the_doge, .amatecha {
    background-image: url("../img/animals/32/the_doge_0.png");
}
.the_rook, .Tyen {
    background-image: url("../img/animals/32/the_rook_0.png");
}
.the_platypus, .Dorth {
    background-image: url("../img/animals/32/the_platypus_0.png");
}
.the_panther, ._discovery {
    background-image: url("../img/animals/32/the_panther_0.png");
}
.the_bear, .mguniverse {
    background-image: url("../img/animals/32/the_bear_0.png");
}
.the_tiger {
    background-image: url("../img/animals/32/the_tiger_0.png");
}
.the_boar, .gabrielverdon {
    background-image: url("../img/animals/32/the_boar_0.png");
}
.the_kingfisher, .elJukes {
    background-image: url("../img/animals/32/the_kingfisher_0.png");
}
.the_crow, ._0SCUR0 {
    background-image: url("../img/animals/32/the_crow_0.png");
}
.the_alpaca {
    background-image: url("../img/animals/32/the_alpaca_0.png");
}
.the_fly, .Hamcha {
    background-image: url("../img/animals/32/the_fly_0.png");
}
.the_frog {
    background-image: url("../img/animals/32/the_frog_0.png");
}
.the_mouse {
    background-image: url("../img/animals/32/the_mouse_0.png");
}
.the_panda, .y4my4m, .y4my4m_ {
    background-image: url("../img/animals/32/the_panda_0.png");
}
.the_sparrow {
    background-image: url("../img/animals/32/the_sparrow_0.png");
}
.the_squid {
    background-image: url("../img/animals/32/the_squid_0.png");
}
.the_koi {
    background-image: url("../img/animals/32/the_koi_0.png");
}
.the_moth, .Kaemura {
    background-image: url("../img/animals/32/the_moth_0.png");
}
.the_slug, .PrestonS {
    background-image: url("../img/animals/32/the_slug_0.png");
}
