html {
    background-color: #222;
    color: #DDD;
}

#container {
    margin: 0 auto;
    width: 960px;
}

a:hover {
    text-decoration: underline;
}
.post {
    color
    min-height: 50px;
    word-wrap: break-word;
    text-align: justify;
    padding: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-bottom: 1px solid ;
}

.post_text {
    margin-top: 10px;
    margin-bottom: 10px;
}

