html {
    background-color: #EFEFEF;
    color: #333;
    /* font-family: 'Titillium Web','Helvetica Neue',Helvetica,Arial,sans-serif; */
    font: 16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-repeat: repeat;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
.dummy_block {
    height: 57px;
    width: 100%;
}
.nav {
    background-color: #EFEFEF;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 254;
    height: 67px;
}
.nav .wrapper {
    margin: 2px auto;
    width: 960px;
    padding-top: 3px;
    padding-bottom: 6px;
    border-bottom: 1px solid #222;
    list-style: none;
    height: 55px;
}
.nav #qiji {
    height: 55px;
}
.nav h1, .nav h2, .nav h3, .nav h4, .nav h5, .nav h6 {
    position: relative;
    top: -0.75em;
    display: inline;
}
.nav ul {
    vertical-align: middle;
    display: block;
    margin-left: 2px;
    padding-left: 0px;
}
.nav li, .nav li h1 {
    vertical-align: middle;
    display: inline;
    padding-right: 20px;
}
#search_box {
    display: none;
    border: 0;
    appearance: none;
    height: 2em;
    position: relative;
    padding: 2px;
}
#search_box:focus {
    jutline: none;
}
.nav .right img {
    position: relative;
    top: 1em;
    display: inline-block;
    height: 25px;
    cursor: pointer;
}
.nav a {
    font-weight: normal;
}
.nav a:visited {
    color: #333;
}
.nav a:hover {
    color: #C72020;
}
.left {
    margin-top: 0px;
    float: left;
}
.right {
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}
.left input, .right input {
    display: inline;
}
.right li {
    margin-right: 2px;
    margin-left: 2px;
    padding: 5px;
}
.container {
    margin: 0 auto;
    width: 960px;
}
.col-50 {
    display: inline-block;
    width: 48.5%;
    vertical-align: top;
}
.col-50:first-child {
    margin-right: 2%;
}
.col-50:last-child {
    width: 49%;
}
#fuck_pages {
    padding-top: 3px;
    padding-bottom: 6px;
    list-style: none;
    height: 55px;
    font-size: 24px;
    text-align: center;
}
#fuck_pages a {
    margin-left: 4px;
    margin-right: 4px;
}
.item {
    margin: 5% 0%;
    min-height: 50px;
    word-wrap: break-word;
    text-align: justify;
}
.item_header {
    padding-bottom: 3px;
    border-bottom: 1px solid ;
}
#meta_info {
    font-size: 12px;
    /* color: #EEE; */
}
a, .link {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
a:visited {
    color: #BBB;
}
a:hover, .link:hover {
    cursor: pointer;
    color: #C72020;
}
.time {
    margin-top: 2em;
    font-size: 16px;
}
.time .thumb_icon {
    height: 1em;
}
.highcharts-container {
    overflow: visible!important;
}
#murder_me {
    position: relative;
}
#murder_me img {
    display: block;
    margin: 2em auto;
}
#murder_me iframe {
    display: block;
    margin: 2em auto;
    width: 100%;
}
