@font-face {
  font-family: 'wtf';
  font-style: normal;
  font-weight: 200;
  src: url("./css/wtf.woff") format('woff');
}
html {
    background-color: #DDD;
    color: #3D3D3D;
    font-family: 'Titillium Web',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-repeat: repeat;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
.title_header {
    font-family: 'wtf', sans-serif;
}
.nav {
    background-color: #111;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 6px;
    border-bottom: 5px solid #94B2FF;
    list-style: none;
    min-height: 1.5em;
}
.nav ul {
    display: block;
    margin-left: 2px;
}
.nav li, .nav li h1 {
    display: inline;
    padding-right: 20px;
}
.left {
    margin-top: 0px;
    margin-: 0px;
    float: left;
}
.right {
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}
.left input, .right input {
    display: inline;
}
.right li {
    border-right: 1px solid #BBB;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 0px;
}
.container {
    margin: 0 auto;
    width: 960px;
}
#fuck_pages {
    font-size: 24px;
    text-align: center;
}
#fuck_pages a {
    margin-left: 4px;
    margin-right: 4px;
}
.item {
    margin: 5% 0%;
    min-height: 50px;
    word-wrap: break-word;
    text-align: justify;
}
.item_header {
    padding-bottom: 3px;
    border-bottom: 1px solid ;
}
h1 {
    color: rgb(83,83,83);
}
#meta_info {
    font-size: 12px;
    color: #EEE;
}
a {
    color: #3B3636;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color: #8B8686;
}
.nav a {
    color: #C2ECFF;
    font-weight: normal;
    /* text-decoration: none; */
}
a:hover {
    color: #94B2FF;
}
.time {
    font-size: 12px;
}
.highcharts-container {
    overflow: visible!important;
}
