html {
    background-color: #DDD;
    color: #3D3D3D;
    font-family: 'Titillium Web',"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-repeat: repeat;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
.nav ul {
    display: inline;
    margin-left: 2px;
}
.nav li, .nav li h1 {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.right {
    margin-top: 0px;
    float: right;
}
.right input {
    display: inline;
}
.right li {
    border-right: 1px solid #BBB;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 0px;
}
.nav {
    background-color: #111;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 6px;
    border-bottom: 5px solid #94B2FF;
}
#container {
    margin: 0 auto;
    width: 1140px;
}
.item {
    margin: 5% 10%;
    min-height: 50px;
    word-wrap: break-word;
    text-align: justify;
}
.item_header {
    padding-bottom: 3px;
    border-bottom: 1px solid ;
}
h1 {
    color: rgb(83,83,83);
}
#meta_info {
    font-size: 12px;
    color: #EEE;
}
a {
    color: #3B3636;
    text-decoration: none;
    font-weight: bold;
}
.nav a {
    color: #C2ECFF;
    /* text-decoration: none; */
}
a:hover {
    color: #94B2FF;
}
.time {
    font-size: 12px;
}
